# Google AI Studio API Key
GOOGLE_GENAI_API_KEY=your_gemini_api_key_here

# SMTP Server for Notification Emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="sender@example.com"
SMTP_PASS="your_smtp_app_password"
SMTP_FROM="Ai Visualizer <sender@example.com>"

# AI Generation Settings
INITIAL_AI_PORTRAIT_GENERATION_COUNT=30
ON_DEMAND_AI_PORTRAIT_GENERATION_NUM_TO_GENERATE=10

# Recipients for notification emails (comma separated)
EMAIL_RECIPIENT="recipient1@example.com, recipient2@example.com"

# Selection Quantity Requirements (Publicly accessible in client components)
NEXT_PUBLIC_REQUIRED_PORTRAIT=22
NEXT_PUBLIC_REQUIRED_HALF_BODY=6
NEXT_PUBLIC_REQUIRED_FULL_BODY=2
